{% extends 'layout/mail.html.twig' %}

{% do email.setSubject("mail.validation.newPassword.subject"|trans) %}
{% block mail_subject %}{{ email.subject }}{% endblock %}

{% block mail_body %}
    <h1>{{ "mail.user.salutation"|trans({'username': username}) }}</h1>

    {{ "mail.validation.newPassword.intro"|trans({'expirationDate':
        expiresAt|format_datetime('long', 'short', timezone=userTZ, locale=userLocale)
    })|raw }}

    <p>
        <a href="{{ validationUrl }}">{{ validationUrl }}</a>
    </p>
    <p>
        {{ "mail.validation.manualLink"|trans }}
    </p>

    {{ "mail.validation.manualConfirmation"|trans({
        'id': id,
        'token': token
    })|raw }}
{% endblock %}